- if flash[:alert]
  = js add_gritter(flash[:alert], title: 'InstaPics Alert', sticky: false)
- elsif flash[:error]
  = js add_gritter(flash[:error], title: 'InstaPics Error', sticky: false)
- else
  = js add_gritter(flash[:notice], title: 'InstaPics Notification', sticky: false)
